.Title h1
{
    font-size: 70px;
    font-family: 'Khula', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
}

.CustomNameTextFieldSection
{
    font-family: 'Khula', sans-serif;
    text-align: center;
}

.CustomNameTextFieldSection #customNameTitle
{
    margin-bottom: 10px;
}

.CustomNameTextFieldSection #customNameTextField
{
    font-size: 18px;
    margin-bottom: 90px;
}

.StartButton
{
    margin: 0;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 180px;
}

.StartButton button
{
    -webkit-transition: all 0.35s cubic-bezier(.26,.99,.82,.9);
    transition: all 0.35s cubic-bezier(.26,.99,.82,.9);

    background-color: white;
    color: black;
    font-family: 'Khula', sans-serif;
    font-size: 32px;
    text-align: center;
    width: 30%; 
}

.StartButton button:hover
{
    box-shadow: 0px 1px 10px 8px rgba(9, 164, 236, 0.5);
    background-color: #0091EA;
    color:white;

    width: 55%;
    font-size: 38px;
    
}

.AboutSection
{
    padding-top: 30px;
    padding-bottom: 30px;

    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.AboutSection .SectionTitle h2
{
    text-align: center;
    /* text-decoration: underline; */
    font-size: 25px;
    font-family: 'Khula', sans-serif;
    font-weight: bold;
}

.AboutSection .CompanyLogo img
{
    padding-top: 40px;
    display: block;
    margin: auto;
    width: 50%;
}

.AboutSection .TutorialText p
{
    padding-top: 50px;
    padding-bottom: 30px;
    
    font-size: 15px;
    font-family: 'Khula', sans-serif;
    line-height: 27px;
}

.CreditsSection
{
    font-family: 'Khula', sans-serif;
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

.CreditsSection #CreditsTitle
{
    font-size: 22px;
    font-weight: bold;

    padding-bottom: 16px;
}

.CreditsSection .CreditsContent
{
    font-size: 24px;
}
