.SectionTitle
{
    padding-top: 5px;

    /* background-color: #E0E0E0; */
    border-bottom: black solid 2px;
}


.SectionTitle h1
{
    font-family: 'Khula', sans-serif;
    font-size: 19px;
}

.SectionTitle h2
{
    text-align: right;
    font-family: 'Khula', sans-serif;
    font-size: 19px;   
}

.SectionTitle img
{
    padding-top: 10px;
    padding-bottom: 18px;

    display: block;
    margin: auto;
    width: 13%;
}

#ResetButton
{
    outline: none;

    position: fixed;

    padding: 0px;
    padding-top: 5px;

    width: 50px;
    height: 50px;

    bottom: 50px;
    right: 50px;
    z-index: 99;

    font-family: 'Khula', sans-serif;
    font-size: 22px;

    box-shadow: 0px 1px 9px 5px rgba(0, 0, 1, 0.5);
    border-radius: 50%;
    background-color: red;
    color: white;
    
    -webkit-transition: all 0.4s cubic-bezier(.55,.95,0,.95);
    transition: all 0.4s cubic-bezier(.55,.95,0,.95);  
}

#ResetButton:hover
{
    box-shadow: 0px 1px 7px 10px rgba(7, 151, 218, 0.5);
    background-color: white;
    color: black;
}


.Question
{
    padding-top: 20px;
    padding-bottom: 150px;
    border-bottom: black solid 1px;
}

.Question .QuestionTitle h2
{
    font-family: 'Khula', sans-serif;
}

.Question .Content
{
    padding-top: 10px;
}

.Question .Content p
{
    text-align: justify;
    line-height: 30px;
    font-size: 15px;
    font-family: 'Khula', sans-serif;
}

.Question .ResponseButtons
{
    padding-top: 20px;
    text-align: center;
    font-family: 'Khula', sans-serif;
}
.Question .ResponseButtons button
{
    font-size: 15px;

    -webkit-transition: all 0.4s cubic-bezier(.45,.03,0,1);
    transition: all 0.4s cubic-bezier(.45,.03,0,1);
}

.Question .ResponseButtons button:hover
{
    font-size: 20px;

    margin-left: 15px;
    margin-right: 15px;
}

.Question .ResponseButtons #authorizeButton:hover
{
    box-shadow: 0px 1px 8px 7px rgba(9, 164, 236, 0.5);
    background-color: #039BE5;
    color: white;
}

.Question .ResponseButtons #denyButton:hover
{
    box-shadow: 0px 1px 8px 7px rgba(218, 7, 7, 0.5);
    background-color: #C62828;
    color: white;
}

.Question .ResultText
{
    padding-top: 50px;
}

.Question .ResultText p
{
    font-family: 'Khula', sans-serif;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
}

.Question #continueButton
{
    font-family: 'Khula', sans-serif;
    font-size: 16px;
    text-align: center;

    margin-top: 20px;
    
    -webkit-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);  
}

.Question #continueButton:hover
{
    box-shadow: 2px 3px 1px rgba(0, 0, 1, 0.5);
    color: white;
    background-color: #00BFA5;

    

    font-size: 20px;
}

.ExitButton
{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
}

.ExitButton button
{
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    font-family: 'Khula', sans-serif;
    font-size: 30px;
    width: 30%;
}

.ExitButton button:hover
{
    box-shadow: 2px 5px 1px rgba(0, 0, 1, 0.5);
    
    width: 50%;

    font-size: 35px;
    background-color: #2196F3;
    color:white;
}

.CreditsSection
{
    font-family: 'Khula', sans-serif;
    padding-top: 20px;
    padding-bottom: 150px;
    text-align: center;
}

.CreditsSection #CreditsTitle
{
    font-size: 22px;
    font-weight: bold;

    padding-bottom: 16px;
}

.CreditsSection .CreditsContent
{
    font-size: 24px;
}
