.SectionTitle
{
    background-color: #E0E0E0;
    border-bottom: black solid 2px;
}


.SectionTitle h1
{
    font-family: 'Khula', sans-serif;
    font-size: 25px;
}

.SectionTitle h2
{
    
}

.Question
{
    padding-top: 20px;
    padding-bottom: 150px;
    border-bottom: black solid 1px;
}

.Question .QuestionTitle h2
{
    font-family: 'Khula', sans-serif;
}

.Question .Content
{
    padding-top: 10px;
}

.Question .Content p
{
    line-height: 30px;
    font-size: 15px;
    font-family: 'Khula', sans-serif;
}

.Question .ResponseButtons
{
    padding-top: 20px;
    text-align: center;
    font-family: 'Khula', sans-serif;
}
.Question .ResponseButtons button
{
    font-size: 15px;

    -webkit-transition: all 0.4s cubic-bezier(.45,.03,0,1);
    transition: all 0.4s cubic-bezier(.45,.03,0,1);
}

.Question .ResponseButtons button:hover
{
    font-size: 20px;

    margin-left: 15px;
    margin-right: 15px;
}

.Question .ResponseButtons #authorizeButton 
{
    
}

.Question .ResponseButtons #authorizeButton:hover
{
    box-shadow: 2px 3px 1px rgba(0, 0, 1, 0.5);
    background-color: #039BE5;
    color: white;
}

.Question .ResponseButtons #denyButton
{
    
}

.Question .ResponseButtons #denyButton:hover
{
    box-shadow: 2px 3px 1px rgba(0, 0, 1, 0.5);
    background-color: #C62828;
    color: white;
}

.Question .ResultText
{
    padding-top: 50px;
}

.Question .ResultText p
{
    font-family: 'Khula', sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.Question #continueButton
{
    font-family: 'Khula', sans-serif;
    font-size: 16px;
    text-align: center;

    margin-top: 20px;
    
    -webkit-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);  
}

.Question #continueButton:hover
{
    box-shadow: 2px 3px 1px rgba(0, 0, 1, 0.5);
    color: white;
    background-color: #00BFA5;

    font-size: 20px;
}

.CreditsSection .ExitButton
{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
}

.CreditsSection .ExitButton button
{
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    font-family: 'Khula', sans-serif;
    font-size: 30px;
    width: 30%;
}

.CreditsSection .ExitButton button:hover
{
    box-shadow: 2px 5px 1px rgba(0, 0, 1, 0.5);
    background-color: #2196F3;
    color:white;
}

