.ThankYouText
{
    text-align: center;
    font-family: 'Khula', sans-serif;
    padding-top: 20px;
    padding-bottom: 35px;
    border-bottom: black solid 1px;
}

.ThankYouText h1
{
    font-size: 50px;
}

.GameSummarySection
{
    text-align: center;
}

.HomeScreenButton
{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 90px;
}

.HomeScreenButton button
{
    -webkit-transition: all 0.4s cubic-bezier(.14,.76,.36,.96);
    transition: all 0.4s cubic-bezier(.14,.76,.36,.96);

    font-family: 'khula', sans-serif;
    font-size: 20px;
    width: 45%;
}

.HomeScreenButton button:hover
{
    box-shadow: 2px 5px 1px rgba(0, 0, 1, 0.5);
    background-color: #2196F3;
    color: white;

    font-size: 28px;
    width: 60%;
}

.CreditsText
{
    font-family: 'khula', sans-serif;
    font-size: 15px;
    text-align: center;
}