.ThankYouText
{
    text-align: center;
    font-family: 'Khula', sans-serif;
    padding-bottom: 5px;
}

.ThankYouText h2
{
    font-size: 25px;
}

.GameSummarySection
{
    padding-top: 5px;
    padding-bottom: 35px;
    font-family: 'Khula', sans-serif;

    border-top: black 1px solid;
    /* border-bottom: black 1px solid; */

    -webkit-transition: all 0.3s cubic-bezier(.04,.95,.62,.95);
    transition: all 0.3s cubic-bezier(.04,.95,.62,.95);

}

.GameSummarySection #GameSummaryTitle
{
    font-weight: bold;
    font-size: 25px;
    text-align: center;

    padding-bottom: 10px;
}

.GameSummarySection #CEONameDisplayText
{
    margin-top: 22px;
    padding-bottom: 10px;
}

.GameSummarySection .ResultsTable #TableTitle
{
    text-align: center;
    font-weight: bold;
}

.GameSummarySection .ResultsTable #TableTitleResult
{
    text-align: center;

    padding-left: 50px;
    font-weight: bold;
}

.GameSummarySection #offerNumberText
{
    text-align: center;
}

/*--Offer Answer text styling properties--*/

.GameSummarySection #offer1Answer
{
    text-align: center;
    padding-left: 50px;
}

.GameSummarySection #offer2Answer
{
    text-align: center;
    padding-left: 50px;
}

.GameSummarySection #offer3Answer
{
    text-align: center;
    padding-left: 50px;
}

.GameSummarySection #offer4Answer
{
    text-align: center;
    padding-left: 50px;
}

.GameSummarySection #offer5Answer
{
    text-align: center;
    padding-left: 50px;
}

/*--Offer Answer text styling properties end--*/




/*--Offer Rep result text stylling properties--*/

.GameSummarySection #offer1RepResult
{
    text-align: center;
}

.GameSummarySection #offer2RepResult
{
    text-align: center;
}

.GameSummarySection #offer3RepResult
{
    text-align: center;
}

.GameSummarySection #offer4RepResult
{
    text-align: center;
}

.GameSummarySection #offer5RepResult
{
    text-align: center;
}

/*--Offer Rep result text stylling properties end--*/


.GameSummarySection .ResultsTable
{
    font-size: 16px;

    padding-top: 32px;
    padding-bottom: 40px;

    padding-left: 15px;
    padding-right: 15px;


    line-height: 40px;

}

.GameSummarySection .ResultTableHoverTrigger
{
    background-color: green;
}

.GameSummarySection #CEONameDisplayText
{   
    text-align: center;
    padding-top: 5px;
    font-size: 15px;
}

.GameSummarySection #rankText
{
    text-align: center;
    font-size: 16px;
}

.GameSummarySection .repTotalElementContainer
{
    padding-top: 5px;
    text-align: center;
}

.GameSummarySection #repTotalTextTitle
{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
}

.GameSummarySection #repTotalTextNumber
{
    padding-left: 2px;
    
    text-align: left;
    font-weight: bold;
    font-size: 27px;
    display: inline-block;
}

.HomeScreenButton
{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 90px;
}

.HomeScreenButton img
{
    padding-top: 65px;

    display: block;
    margin: auto;
    width: 20%;
}

.HomeScreenButton button
{
    -webkit-transition: all 0.4s cubic-bezier(.14,.76,.36,.96);
    transition: all 0.4s cubic-bezier(.14,.76,.36,.96);

    font-family: 'khula', sans-serif;
    font-size: 20px;
    width: 45%;
}

.HomeScreenButton button:hover
{
    box-shadow: 0px 1px 10px 11px rgba(9, 164, 236, 0.5);
    background-color: #2196F3;
    color: white;

    font-size: 28px;
    width: 60%;
}

.CreditsSection
{
    font-family: 'Khula', sans-serif;
    padding-top: 25px;
    padding-bottom: 60px;
    text-align: center;
}

.CreditsSection #CreditsTitle
{
    font-size: 22px;
    font-weight: bold;

    padding-bottom: 16px;
}

.CreditsSection .CreditsContent
{
    font-size: 24px;
}